.inputPanel {
    flex-grow: 1;
    max-width: 100%;
    width: 80%;

    padding: 1em;

}

@media only screen and (max-width: 400px) {
    .inputPanel {
      width: 100%;
      padding:0.2em;
    }
}
  

.inputPanel > h1 {
    background-color: var(--main-color);
    padding: 2px 0.5em;
    border-radius: 10px;
}


.categorySection {
    border: 1px solid var(--second-color);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0.5em;
    width: 100%;
    max-width: 1500px;
}

h2.categoryHeader {
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    position: relative;
    top: -20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1em;
}

/* 
    Button row at the window bottom 
    入力ダイアログの下にボタン列（OK,キャンセル）
*/
.buttonRow {
    width: clamp(100px, 80%, 500px);
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 10px;



}

/* Input Element -> flexbox for several components */

/* 私の入力フォーム */
.inputRowMe {

    max-width: 500px;
    display: grid;
    grid-gap: 5px;
    justify-content: space-between;
    padding: 5px;
    
    grid-template-columns: 130px 150px 65px;
    grid-template-areas: "effort duration participates";
    align-items: center;
    
    
}

@media (max-width: 1250px) {
    .inputRowMe {
        grid-template-columns: 65px 130px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "participates effort"
        "duration duration";
        align-items: center;
        grid-gap: 12px;
    }
}
/* パートナーの入力フォーム */
.inputRowPartner {
    
    max-width: 500px;
    display: grid;
    padding: 5px;
    grid-gap: 15px;
    grid-template-columns: 65px 130px 150px;
    grid-template-areas: "participates effort duration";
    align-items: center;
}

@media (max-width: 1250px) {
    .inputRowPartner {
        grid-template-columns: 65px 130px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "participates effort"
        "duration duration";
        align-items: center;
        grid-gap: 12px;
    }
}

@media (max-width: 700px) and (min-width: 500px) {
    .inputRow {
        grid-template-columns: 1fr 150px 1fr;
        grid-template-areas: "label action effort"
        "duration duration duration";
    }
}

@media (max-width: 499px) {
    .inputRow {
        grid-template-columns: 150px 1fr;
        grid-template-areas: "label label" "action effort" "duration duration";
    }
}

.inputRow > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.taskLabel {
    grid-area: label;
}

.myInput{
    border: none;
    font-size: 16px;
    width: 100%;
    width: 65px;
    height: 38px;
    border: var(--main-color) 2px solid;
    padding: 4px 14px 4px 4px;
    text-align: center;

    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

.partnerInput{
    border: none;
    font-size: 16px;
    width: 100%;
    width: 65px;
    height: 38px;
    border: var(--main-color) 2px solid;
    padding: 4px 14px 4px 4px;
    text-align: center;

    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    -moz-appearance:textfield;
    margin-left: 0px;
}

.myInputLabel{
    position: relative;
    margin-left: 80px;
}

@media (max-width: 1250px) {
    .myInputLabel{
        margin-left: 0px;
    }
}

.myInputLabel::after{
    position: absolute;
    top: 6.5px;
    right: -57px;
    content: '回';
    width: 15px;
    height: 15px;
}
.myInputLabel::before{
    position: absolute;
    top: -20px;
    right: -10px;
    content: '私';
    font-size: 13px;
    width: 5px;
    height: 5px;
}

@media (max-width: 1250px) {
    .myInputLabel::before{
        right: 55px;
    }
}
/* 私の「回」の位置 */
@media (max-width: 1250px) {
    .myInputLabel::after{
        right: 8px;
    }
}

.partnerInputLabel{
    position: relative;
}

.partnerInputLabel::after{
    position: absolute;
    top: 6.5px;
    right: 8px;
    content: '回';
    width: 15px;
    height: 15px;
}
.partnerInputLabel::before{
    position: absolute;
    top: -20px;
    right: -4px;
    content: 'パートナー';
    font-size: 13px;
    width: 70px;
    height: 6px;
}

/* エラーメッセージ */
.errorMessage{
    font-size: 10px;
    color: red;
    line-height: 1;

    position: absolute;
    bottom: -35px;
    left: 0;
    width: 62px;
}

@media (max-width: 1250px) {
    .errorMessage{
        width: 62px;
    }
}

/* 好き・嫌い */
.effort{
width: 130px!important;
}

/* 家事の時間(スライダー) */
.slider{
    min-width: 200px;
    width: 100%;
    padding: 12px 0px;
}
.slider .MuiSlider-markLabel{
    top: 20px;
}

@media (max-width: 1250px) {
    .slider {
        max-width: 150px;
        min-width: 150px;
        padding-right: 1em ;}
}
